{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{#   REPLACE THIS IN THE BASE HTML! <h1 class="header">IRONEATS</h1>#}
    <form action="{% url 'menu' pk=pk%}" method="post" class="form">
    {{ formset.management_form }}
    {% csrf_token %}
    <ol>
        {% for form, food in zipped %}
            {{ food.name }}<br> {{ food.description }} {{ food.category }} {{ food.price }} {{ form.qty }} {{ form.name }}<br><br>
        {% endfor %}
    </ol>
    <input type="submit" value="submit" class="btn btn-danger">
    {% for form in formset %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
{% endfor %}
    </form>
{% endblock %}
