{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{#   REPLACE THIS IN THE BASE HTML! <h1 class="header">IRONEATS</h1>#}
    {{ formset.management_form }}
    {% csrf_token %}
        <ol>
        {% for food in foods %}
            <form action="{% url 'order' pk=food.pk%}" method="post" class="form">
            {% csrf_token %}
            {{ food.name }}<br> {{ food.description }} {{ food.category }} {{ food.price }}<br><br>
            <input type="submit" value='Order This' class="btn btn-danger">
            </form>
            {% endfor %}
         </ol>
            <form action="{% url 'confirm' pk=pk%}" method="post" class="form">
            {% csrf_token %}
            <input type="submit" value='Submit Your Order' class="btn btn-danger">
{% endblock %}
