{% extends 'base.html' %}
{% block content %}
    <h1 class="dish" style="text-align: center">{{ fooditem.name }}</h1>
    <h2 class="description" style="text-align: center"> {{ fooditem.description }}</h2>
    <form method="post" action="{%  url 'order' pk=restaurant.id %}" class="form">
        {% csrf_token %}
        {% for field in form %}
            ${{ fooditem.price | floatformat:2 }}<br><br>
            QTY<br>
            {{ field }}
        {% endfor %}
        <br>
        <input type="hidden" name="fooditempk" value={{ fooditem.pk }}>
        <input type="submit" value='Order' class="btn btn-danger">
    </form>
{% endblock %}