{% extends 'base.html' %}
{% block content %}
    <h1 class="dish" >
        Name:  &nbsp;{{ fooditem.name }}
    </h1>
    <h3 class="description" >
        Description:  &nbsp;{{ fooditem.description }}
    </h3>
    <span class="lead bold">{{ fooditem.name }}</span>
    <br>
    <span class="description"> {{ fooditem.description }}</span>
    <form method="post" action="{%  url 'order' pk=restaurant.id %}" class="form">
        {% csrf_token %}
        {% for field in form %}
            ${{ fooditem.price | floatformat:2 }}<br><br>
            QTY<br>
            {{ field }}
        {% endfor %}
        <br>
        <input type="hidden" name="fooditempk" value={{ fooditem.pk }}>
        <input type="submit" value='Order' class="btn btn-danger">
    </form>
{% endblock %}