{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Delete Menu Item{% endblock %}

{% block content %}
    <div class="center">
        <span class="lead bold"> Delete Menu Item?</span><br><br>
        <form method="post" action="{%  url 'delete_menu_item' fooditem.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <a class="btn btn-danger" href="{% url 'manage_menu' fooditem.restaurant.id %}">No, cancel.</a>&nbsp;
            <input class="btn btn-danger" type="submit" name="submit" value="Yes! Delete">
    </div>
    </form>

{% endblock %}