{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Restaurant Order List{% endblock %}

{% block content %}
    {% csrf_token %}
    <h1>{{ restaurant.name }}:</h1>
      <h2>Here is a list of all your current orders:</h2>
    <center><h4><a href="{% url 'restaurant_profile' restaurant.id %}">
        Go back to Restaurant profile</a> </h4></center>
    <ol>
{#        need to figure how to order by timestamp here#}
        {% for order in restaurant.order_set.all %}
            <li>
                {{ order.fooditem.description }}&nbsp;&nbsp;
                Ordered at: {{ order.timestamp }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}