{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Restaurant Order List{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="center">
        <a class="btn btn-danger"
                   href="{% url 'restaurant_profile' user.restaurant.id %}">
        Finish</a><br>

        <br>
        <span class="lead bold">Current Orders:</span><br>
    </div>
    <br>
    {% for order in user.restaurant.order_set.all %}
        <dl>
            <div class="border-order">
            <dt>Ordered at: {{ order.timestamp }}<br>
                Customer: {{ order.customer.user }} - Phone Number: {{ order.customer.phone }}<br><br>
            </dt>
                {% for order_item in order.orderitem_set.all %}
                    <dd><span class="border-bottom"> <span class="order-title">{{ order_item.fooditem.name }}&nbsp;&nbsp;</span><br>
                    <dd>Quantity: {{ order_item.quantity }}</span></dd>
                    </dd>
                    <br>
                {% endfor %}
            </div>
            <br>
    {% endfor %}
        </dl>
        <div class="center">
        <a class="btn btn-danger"
                   href="{% url 'restaurant_profile' user.restaurant.id %}">
        Finish</a></div>
{% endblock %}
