{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Restaurant Profile{% endblock %}

{% block content %}
    {% csrf_token %}
    <h1>Hi, welcome to your restaurant profile account:</h1>
    <h3>{{ restaurant.name }}</h3>
    <h4><a href="{% url 'order_list' restaurant.id %}">Click here to view current orders:</a></h4>
    <h4>View past orders</h4>
{#    {% if restaurant.has_menu %}#}
        <h4><a href="{% url 'update_menu' restaurant.id %}">
            Manage Menu
        </a></h4>
{#    {% else %}#}
        <h4><a href="{% url 'create_menu' restaurant.id %}">
            Create Menu
        </a></h4>
{#    {% endif %}#}
    <h4>Delete Menu</h4>
    <h4>Update Profile</h4>

{% endblock %}

