{#{% extends "base.html" %}#}
{#{% load bootstrap3 %}#}
{##}
{#{% block title %}Restaurant Profile{% endblock %}#}
{##}
{#{% block content %}#}
{#    {% csrf_token %}#}
{#    <h1>Hi, welcome to your restaurant profile account:</h1>#}
{#    <h3>Restaurant Name</h3>#}
{#    <h4>Click here to view current orders:</h4>#}
{#    <h4>View past orders</h4>#}
{#    <h4>Manage Menu</h4>#}
{#    <h4>Delete Menu</h4>#}
{#    <h4>Update Profile</h4>#}
{##}
{##}
{#{% endblock %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Hi, welcome to your restaurant profile account:</h1>
    <h3>Restaurant Name</h3>
    <h4>Click here to view current orders:</h4>
    <h4>View past orders</h4>
    <h4>Manage Menu</h4>
    <h4>Delete Menu</h4>
    <h4>Update Profile</h4>
</body>
</html>