{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Restaurant Profile{% endblock %}

{% block content %}
    {% csrf_token %}
    <h1>Hi, welcome to your restaurant profile account:</h1>
    <h3>{{ restaurant.business_name }}:</h3>
    <style type="text/css">

            .tab { margin-left: 40px; }
            .tab2 { margin-left: 100px; }

    </style>
    <br>
    <h3><p class="tab">ORDERS:</p></h3>
    <h4><p class="tab2">
        <a href="{% url 'order_list' user.restaurant.id %}">
            Click here to view current orders</a><br>
    </p></h4>
    <h3><p class="tab">MENU:</p></h3>
    <h4><p class="tab2">
        {% if user.restaurant.has_menu %}
            <a href="{% url 'manage_menu' user.restaurant.id %}">
                Manage Menu
            </a>
        {% else %}
            <a href="{% url 'create_menu' user.restaurant.id %}">
                Create Menu
            </a>
        {% endif %}
    </p></h4>
{% endblock %}

