{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'site-style.css' %}">
    <title>Iron Eats - {% block title %}{% endblock %}</title>
</head>
<body>
    <div style='text-align: right'>
    <a class="btn btn-danger" href="{% url 'login' %}">Login </a>
    <a class="btn btn-danger" href="{% url 'create_user' %}"> Register </a>
    <a class="btn btn-danger" href="{% url 'logout' %}"> Logout </a>
{#    <a class="btn btn-danger" href="{% url 'restaurant_profile' restaurant_id %}"> Restaurant Profile </a>#}
    </div>
    <div class="top">
    <h1 style="text-align: center" class="top">IronEATS</h1>
    </div>
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>