{% extends 'base.html' %}
{% block content %}
        {% for rest in restaurant %}
            <span class="lead bold">{{ rest.business_name }}</span><br> <span class="description">{{ rest.address }}<br> Phone: {{ rest.phone_number }}</span>
            <br><br>
            <a class="btn btn-danger" href="{% url 'menu' rest.pk%}"> Eat Here </a>
            <br><br><br>
        {% endfor %}
    </ol>
    <div>
        <ul class="pager">
        {% if page_obj.has_previous %}
            <li class="previous">
                <a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&larr;</span> Previous</a>
            </li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="next">
                <a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">
                    Next<span aria-hidden="true">&rarr;</span></a>
            </li>
        {% endif %}
        <ul>
    </div>
{% endblock %}