{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{#   REPLACE THIS IN THE BASE HTML! <h1 class="header">IRONEATS</h1>#}
    <div style='text-align: right'>
    <a class="btn btn-danger" href="{% url 'login' %}"> Restaurant Login </a>
    <a class="btn btn-danger" href="{% url 'login' %}"> Customer Login </a>
    </div>

{#    OUT HEADER GOES HERE#}
         <h1 class="header" style="text-align: center">IRONEATS</h1>
    <P>
    <ol>
        {% for rest in restaurant %}
            <li><a href="{% url 'home' %}">{{ rest.business_name }}</a></li>
            {{ rest.address }}, {{ rest.zip_code }},</li><br>

        {% endfor %}
    </ol>
    </p>
    {% if page_obj.has_previous %}
        <a href="{% url 'top20' %}?page={{ page_obj.previous_page_number }}"><-Prev</a>
    {% endif %}

    {{ page_obj }}
    {% if page_obj.has_next %}
        <a href="{% url 'top20' %}?page={{ page_obj.next_page_number }}">Next-></a>
    {% endif %}

    </ol>
{% endblock %}

{#TODO# fix link to actual login pages, alight to top right. add header to base
html, add classes, stylize forms. add block content to the content}