{% extends 'base.html' %}
{% block content %}
        {% for rest in restaurant %}
            <span class="lead bold">{{ rest.business_name }}</span><br> <span class="description">{{ rest.address }}: {{ rest.price }}</span>
            <br>
            <br>
            <a class="btn btn-danger" href="{% url 'menu' rest.pk%}"> Eat Here </a>
            <br><br>
        {% endfor %}
    </ol>
    {% if page_obj.has_previous %}
        <a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}"><-Prev</a>
    {% endif %}
    {% if page_obj.next_page_number == 1 %} }}
        {{ page_obj }}
        {% if page_obj.has_next %}
            <a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">Next-></a>
    {% endif %}
    {% endif %}
{% endblock %}
