/*body {*/
    /*background-color: #761c19;*/
/*}*/

header{
    text-align: center;
    background-color: lightgrey;
}

header h1{
    font-size: 60px;
    font-weight: bolder;
}

.border-thin {
    border-left: 1px solid black;
}

.bold {
    font-weight: bold;
}
.center {
    text-align: center
}

.border-order {
    border: 1px solid black;
}
.border-bottom {
    border-bottom: 1px solid black;
}

.order-title{
    font-size: 20px;
}