{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
       <div style='text-align: center'>
           <a class="btn btn-danger" href="{% url 'rest_reg' %}"> Restaurant Registration </a>
    <a class="btn btn-danger" href="{% url 'cust_reg' %}"> Customer Registration </a>
       </div><br>
    <h2 class="title">Please Login</h2>
    <form method="post" action="{% url 'login' %}" class="login">
    {{  formset.management_form }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {{ form.as_p }}
    <input type="submit" value="Login">


    </form>

    <div style="text-align: center">
    <a href="{% url 'password_reset' %}">forgot password?</a>
    </div>

{% endblock %}