{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

<body>
    <h1 class="header" style="text-align: center">IRONEATS</h1>
    <h3>Please Login</h3>
    <form method="post" action="{% url 'login' %}">
    {{  formset.management_form }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {{ form.as_p }}
    <input type="submit" value="Login">
    </form>


    <a href="{% url 'password_reset' %}">forgot password?</a>
    <a href="{% url 'rest_reg' %}">Restaurant Sign up</a>
    <a href="{% url 'cust_reg' %}">Customer Sign up</a>
</body>
{% endblock %}